* {
    margin: 0;
    padding: 0;
}

header {
    background-image: url("../images/union-jack.jpg");
    background-size: cover;
    height: 150px;
    line-height: 150px;
}

#header {
    color: goldenrod;
    font-size: 6vw;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;   
}

.main-navbar {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

li {
    list-style-type: none;
}

.nav-links {
    float: left;
}

.nav-links {
    color: white;
    display: block;
    padding: 16px;
    text-align: center;
    text-decoration: none;
  }

.nav-links:hover {
    background-color: #fff;
    color: #333333;
    text-decoration: none;
  }

.active {
      background-color: #fff;
      border: 1px solid #000;
      color: #333333;
  }

.images {
      height: 350px;
      margin: 10px 10px 0px 10px;
      width: 300px;
  }

p {
      margin: 10px;
  }
  
figcaption {
      margin-left: 10px; 
  }

  a {
      margin-left: 10px;
  }

.wiki-links {
      background-color: #0000ff;
      border-radius: 5px;
      color: #fff;
      padding: 3px;
      text-decoration: none;
  }